<div class="lp-section-1">
  <div class="landing-text">
    <h1>NANCH</h1>
    <h2>工业级精密螺丝刀制造商</h2>
    <a href="#" class="btn btn-default btn-lg">Buy now</a>
  </div>
</div>
<!-- 明确的call to action按钮, 清晰的h1和h2, -->
