<div class="padding lp-section-2 lp-section-2-about">
<div class="container">
  <!-- row -->
  <div class="row">
    <div class="col-sm-6">
      <img src="images/bootstrap.png" alt="">
    </div>
    <div class="col-sm-6 txt-center">
      <h2>All About Using bootstrap</h2>
      <p class="lead">
        古罗马政治家西塞罗的文章中，选了一段拉丁文，"Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit "，进行了混排，
      </p>
      <p class="lead">
        就把它创造出来了。这句拉丁文的英译是"Neither is there anyone who loves grief itself since it is grief and thus wants to obtain it"，译成中文就是"无人爱苦，亦无人寻之欲之，乃因其苦......"（不知是谁的手笔，译得真漂亮啊。）
      </p>
    </div>
  </div>
  <!--end of row -->
</div>
</div>
