<div class="padding lp-section-2 lp-section-2-services">
<div class="container">
  <!-- row -->
  <!-- end of row -->
  <div class="row">
    <!-- sass -->
    <div class="col-sm-6 col-md-3">
    <!-- 相当于 col-xs-12 col-sm-6 col-md-3 col-lg-3 -->
      <h4>Built With Sass</h4>
      <p>
        古罗马政治家西塞罗的文章中，选了一段拉丁文，"Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit "，进行了混排就把它创造出来了。这句拉丁文的英译是"Neither is there anyone who loves grief itself since it is grief and thus wants to obtain it"，译成中文就是"无人爱苦，亦无人寻之欲之，乃因其苦......"（不知是谁的手笔，译得真漂亮啊。）
      </p>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <img src="images/sass.png" alt="" class="img-responsive">
    </div>
    <!-- end of sass -->
    <!-- less -->
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <h4>And Less</h4>
      <p>
        古罗马政治家西塞罗的文章中，选了一段拉丁文，"Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit "，进行了混排就把它创造出来了。这句拉丁文的英译是"Neither is there anyone who loves grief itself since it is grief and thus wants to obtain it"，译成中文就是"无人爱苦，亦无人寻之欲之，乃因其苦......"（不知是谁的手笔，译得真漂亮啊。）
      </p>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <img src="images/less.png" alt="" class="img-responsive">
    </div>
    <!-- end of less -->
  </div>
</div>
</div>
