// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body {
  height: 100%;
  width: 100%;
}

@import "partials/_navbar";
@import "partials/_lp-section-1";

.lp-section-2 {
  padding: 80px 0;

  img{
    width: 100%;
  }
}

#fixed {
  @include background-img($url-background-img-section-2);
  display: table;
  height: 60%;
  position: relative;
  width: 100%;
  background-size: cover;
}

footer {
  width: 100%;
  background-color: $primary-color;
  padding: 5% 5% 10% 5%;
  color: $primary-color-text;

  .fa {
    padding: 15px;
    font-size: 25px;
    color: $primary-color-text;
    &:hover{
      color: $secondary-text-color;
      text-decoration: none;
    }
  }

  .icon {
    max-width: 200px;
  }
}

@media (max-width:768px) {
  footer {
    .fa {
      font-size: 20px;
      padding: 10px;
    }

    .icon {
      padding-top: 5%;
      max-width: 100px;
    }
  }
}
