<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <!-- navbar-header -->
    <div class="navbar-header">
      <!-- 汉堡包菜单按钮 collapse 折叠效果 bootstrap定义 小屏幕显示-->
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-main">
        <span class="sr-only">Toggle navigation</span>
        <!-- toggle 是触发器的意思 sr-only是给弱势和盲人的品目阅读器使用 -->
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- end of 汉堡包菜单按钮 data-target设计collapse效果的目标-->
      <a href="#" class="navbar-brand">
        <img src="images/w3newbie.png" alt="">
      </a>
    </div>
    <!-- end of navbar-header -->
    <!-- collapse 折叠效果的目标 中屏幕以上显示, 小屏幕被折叠 -->
    <div class="collapse navbar-collapse" id="navbar-collapse-main">
      <ul class="nav navbar-nav navbar-right">
        <li> <a class="active" href="#">Home</a> </li>
        <li> <a href="#">About</a> </li>
        <li> <a href="#">Services</a> </li>
        <li> <a href="#">Testimonials</a> </li>
        <li> <a href="#">Contact</a> </li>
      </ul>
    </div>
    <!-- end of collapse 折叠效果的目标 -->
  </div>
</nav>
